Since some of the data files acquired are too large to import in excel/google sheets, I used Python and pandas to select smaller amount of data that we're interested in.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///data/restaurants.db")

In [3]:
df = pd.read_sql("""SELECT * FROM calls_data WHERE "Complaint Type"="Rodent";""", engine, parse_dates=["Created Date"])
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,39981109,2018-08-10,08/15/2018 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11209,,...,,,,,,,,40.63372397873045,-74.02388342767199,"(40.63372397873045, -74.02388342767199)"
1,39981156,2018-08-10,08/10/2018 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11372,33-33 82ND ST,...,,,,,,,,40.754279636875594,-73.88499034099145,"(40.754279636875594, -73.88499034099145)"
2,39981569,2018-08-11,08/11/2018 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Signs of Rodents,3+ Family Apt. Building,10032,478 WEST 158 STREET,...,,,,,,,,40.83300208979604,-73.94044685663981,"(40.83300208979604, -73.94044685663981)"
3,39981599,2018-08-12,08/23/2018 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11206,167 HEYWARD STREET,...,,,,,,,,40.7025703051472,-73.95477695269145,"(40.7025703051472, -73.95477695269145)"
4,39981657,2018-08-11,08/17/2018 03:40:41 PM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11221,600 QUINCY STREET,...,,,,,,,,40.68854430730697,-73.9368041756644,"(40.68854430730697, -73.9368041756644)"

In [4]:
calls_df = df[df['Created Date']> "1/1/2019"]
calls_df.shape

(67709, 41)

In [5]:
calls_df.to_csv("./data/rodent_calls.csv", index=False)

In [6]:
df2 = pd.read_sql("""SELECT * FROM Inspection_data WHERE "VIOLATION CODE"="04K";""", engine, parse_dates=["INSPECTION DATE"])
df2.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,41347625,"EAT & GO ISTANBUL, NEW YORK",Queens,,JFK AIRPORT,11430,7187512826,,2020-02-27,U,...,04/20/2021,Cycle Inspection / Initial Inspection,40.648312826068,-73.788281497594,,,,,,
1,50001914,ATLAS SOCIAL CLUB,Manhattan,753,9 AVENUE,10019,2122628527,,2019-10-29,U,...,04/20/2021,Cycle Inspection / Initial Inspection,40.763903510982,-73.988653981842,104,03,013300,1026689,1010600035,MN15
2,50050805,#1 Chinese Restaurant,Manhattan,825,WEST 181 STREET,10033,2127403188,,2018-04-11,D,...,04/20/2021,Cycle Inspection / Re-inspection,40.851256157186,-73.93951897372,112,10,027300,1064342,1021797502,MN35
3,50080293,HUNGRY BURRITO,Brooklyn,510,MORGAN AVENUE,11222,7183871006,,2018-12-13,F,...,04/20/2021,Cycle Inspection / Initial Inspection,40.72160175308,-73.938464608393,301,34,044900,3069872,3028350001,BK90
4,41319055,GRAND SICHUAN EASTERN,Manhattan,1049,2 AVENUE,10022,2123555855,,2019-01-10,D,...,04/20/2021,Cycle Inspection / Initial Inspection,40.758206436667,-73.966102032937,106,04,010800,1038582,1013290023,MN19

In [7]:
df2.to_csv("./data/inspections.csv", index=False)